@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply text-black;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: playfair display, serif;
    background-color: #fdf4ee;
    /* background-color: #fdf4ee; */
    color: #291953;
  }
}
@theme {
  --color-primary: #291953;
  --color-secondary: #fddb3a;
  --color-muted: #746781;
}
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@utility animateSpin {
  animation: spin 10s linear infinite;
}
